
<form method="post" action="{% url 'emailApp' %}">
    {% csrf_token %}
  BCC: <input type="text" name="post_whomtosend_bcc" value="{{ post_whomtosend_bcc }}">
  <input type="submit">
</form>

{% if  request.method != 'POST' %}
<p class="row">In order to begin, please press the button or enter a path to file (for example ../../moodle/index.php ) and then press the button</p>
{% else %}
Log:
<pre>{{ errorText }}</pre>
{% endif %}



{% if a_list %}
    <ul>
    {% for q, n in a_list %}
        <li>{{ q.0 }}({{ n }})</li>
    {% endfor %}
    </ul>
{% endif %}

